.env
best_solutions/
configs/
temp/
google-code-golf-2025/
generate/
docs/
files/
logs/
solutions/
submission*
outputs/
__pycache__/
modules/__pycache__/
task.py
task_no_comments.py
submit.sh
.env
temp
google-code-golf-2025
generate
files
logs
solutions
submission*
modules/__pycache__/